{{! This template displays a post in its entirety.
    It is used to display the latest post in the index, and any single post }}
<article class="{{post_class}}" role="article">

    <header>

        <h1 class="beta">
            <a href="{{url}}" rel="bookmark" title="{{title}}">{{title}}</a>
        </h1>

        <p class="byline vcard">
            Posted
            <time class="updated"
                  datetime="{{date published_at format='YYYY-MM-DD'}}"
                  pubdate="">
                {{date published_at format='YYYY-MM-DD'}}
            </time>

            by
            <span class="author">
                {{author}}
            </span>

            {{#if tags}}
                <span class="amp">&amp;</span>
                filed under <span class="tags-title">{{tags}}</span>
            {{/if}}
        </p>

    </header>

    <section>
        {{content}}
    </section>

    <footer>
        {{#if tags}}
            <p class="tags">
                <span class="tags-title">
                    Tags: {{tags}}
                </span>
            </p>
        {{/if}}
    </footer>

</article>
