{{! This template displays a post in its entirety.
    It is used to display the latest post in the index, and any single post }}
<article class="h-entry {{post_class}}" role="article">
  <header class="soft-half--bottom">
    <h1 class="heading heading--flex p-name">
      <a href="{{url}}" rel="bookmark" title="{{title}}">{{title}}</a>
    </h1>

    <p class="p-author h-card">
      Posted at
      <time class="updated dt-published"
            datetime="{{date published_at format='YYYY-MM-DD'}}"
            pubdate="">
        {{date published_at format='HH:MM'}}
        on {{date published_at format='DD MMMM YYYY'}}
      </time>

      {{#if tags}}
        <span class="amp">&amp;</span>
        filed under <span class="tags-title">{{tags}}</span>
      {{/if}}
      </p>
  </header>

  <section class="e-content">
    {{content}}
  </section>

  <footer>
    {{#if tags}}
      <p class="tags">
        <span class="tags-title">
          Tags: {{tags}}
        </span>
      </p>
    {{/if}}
  </footer>

</article>
