{{! This partial will list a post excerpt using the 'excerpt' theme helper in Ghost }}
<article class="h-entry soft--bottom {{post_class}}">

  <header class="soft-half--bottom">
    <h1 class="heading heading--flex p-name"><a href="{{url}}" rel="bookmark">{{title}}</a></h1>
    <time class="updated dt-published" datetime="{{date published_at format='YYYY-MM-DD'}}">
      {{date published_at format="DD MMMM YYYY"}}
    </time>
  </header>

  <section class="entry-content p-summary">
    {{excerpt}}... <a class="link--block" href="{{url}}">Read More</a>
  </section>

</article>
