<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en-GB" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-GB" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-GB" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-GB" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{@blog.title}}</title>

    <meta name="description" content="{{@blog.description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" type="application/rss+xml" title="{{@blog.title}} » Feed" href="{{@blog.url}}/rss">

    {{#if (isLocal @blog.url)}}
      <link rel="stylesheet" id="linen-stylesheet-css" href="{{asset 'css/style.css'}}" type="text/css" media="all" />
    {{else}}
      <link rel="stylesheet" id="linen-stylesheet-css" href="{{asset 'css/style.min.css'}}" type="text/css" media="all" />
    {{/if}}

    {{> typekit}}

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div id="container">

        {{! Output the content of the header partial template }}
        {{> header}}

        <section id="content">

            <div id="inner-content">

                <main id="main" role="main">
                    {{{body}}}
                </main>

            </div>

        </section>

        <footer class="footer" role="contentinfo">
            <div id="inner-footer">
                <p class="source-org copyright">© 2014 <a href="http://jegtnes.co.uk">Alex Jegtnes.</a></p>
            </div>
        </footer>

    </div>

    <!-- The Ghost footer helper will insert some shared javascript libraries and files required by plugins -->
    {{ghost_foot}}

    {{#if (isLocal @blog.url)}}
      <script type="text/javascript" src="{{asset '/js/scripts.js'}}"></script>
    {{else}}
      <script type="text/javascript" src="{{asset '/js/scripts.min.js'}}"></script>
    {{/if}}

</body>
</html>
