<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en-GB" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-GB" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-GB" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-GB" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{@blog.title}}</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/rss+xml" title="{{@blog.title}} » Feed" href="{{@blog.url}}/rss">

  <link rel="publisher" href="https://plus.google.com/108123366504862028505">

  {{#if (isLocal @blog.url)}}
    <link rel="stylesheet" id="linen-stylesheet-css" href="{{asset 'css/style.css'}}" type="text/css" media="all" />
  {{else}}
    <link rel="stylesheet" id="linen-stylesheet-css" href="{{asset 'css/style.min.css'}}" type="text/css" media="all" />
  {{/if}}

  {{> typekit}}

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>

<body class="brand-light {{body_class}}">
    <div id="container" class="main-container">

      {{! Output the content of the header partial template }}
      {{> header}}

      <main id="main" role="main" class="contentarea">
        {{{body}}}
      </main>

      <footer class="footer contentarea" role="contentinfo">
        <section class="footer__section about">
          <h1 class="heading delta">So who's this guy anyway?</h1>
          <p>
            Hi! I'm Alex. I'm a viking from the deep Arctic fjords of Norway.
            I live in beautiful Bristol, UK, where I like making things on the
            web. I have taken a particular fancy to web performance, writing
            scalable, extensible HTML &amp; CSS, and building things with PHP,
            Laravel, and WordPress. Ruby is my mistress on the side.
          </p>
        </section>
        <section>
          <p>
            This site is typeset in
            <a href="https://typekit.com/fonts/ff-dax-compact-web-pro">FF Dax Compact</a>
            by <a href="https://www.fontfont.com/">FontFont</a> and good old
            trustworthy Georgia. You can view the source of this site on
            <a href="https://github.com/jegtnes/jegtnes-theme">GitHub</a>,
            <a href="https://twitter.com/jegtnes">follow me on Twitter</a>,
            or even
            <a href="mailto:alex@jegtnes.co.uk">email me</a>.
          </p>
        </section>
        <section class="footer__section copyleft">
          <h1 class="heading delta">Copyleft</h1>
          <p>
            Except where otherwise noted, all content on this site by
            <a xmlns:cc="http://creativecommons.org/ns#" href="http://jegtnes.co.uk" property="cc:attributionName" rel="cc:attributionURL">Alex Jegtnes</a>
            is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
              Creative Commons Attribution-ShareAlike 4.0 International License.
            </a>
          </p>
        </section>
      </footer>
    </div>

    <noscript><img src="http://analytics.jegtnes.co.uk/piwik.php?idsite=2" style="border:0;" alt=" " /></noscript>

    {{! Uncomment this if it ever includes more than jQuery }}
    {{! ghost_foot }}

    {{#if (isLocal @blog.url)}}
      <script type="text/javascript" src="{{asset '/js/scripts.js'}}"></script>
    {{else}}
      <script type="text/javascript" src="{{asset '/js/scripts.min.js'}}"></script>
    {{/if}}

</body>
</html>
