{{!< default}}

{{#post}}

  <article class="h-entry {{post_class}}" role="article">
    <header class="soft-half--bottomx">
      <h1 class="heading heading--flex p-name">
        <a href="{{url}}" rel="bookmark" title="{{title}}">{{title}}</a>
      </h1>
    </header>

    <section class="e-content">
      {{content}}
    </section>
  </article>

{{/post}}
